node_modules/
.expo/
npm-debug.*
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# npm
/node_modules
npm-debug.log*

# testing
/coverage

# production
/build

# yarn
yarn-debug.log*
yarn-error.log*

# Intellij IDEA
.idea
.classpath
.project
*.iml
/out/

# Maven
/target
/src/main/resources/config.properties
